body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 10px;
  background: rgba(19, 87, 126, 0.945);
  width: 100%;
  font-size: 1.2em;
}

nav h1 {
  color: #fff;
  margin: 0 auto;
  max-width: 1200px;
  letter-spacing: 10px;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.content h2 {
  font-size: 1.2em;
  padding-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 0.11);
  letter-spacing: 2px;
}

.set {
  margin: 15px;
  margin-top: 25px;
}

.set h4 {
  text-transform: capitalize;
}